 * {
     //para todos os elementos
     $corDeFundo: rgb(255 255 1);
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;

     main {
         min-height: 100vh;
         position: relative;
     }

     header {
         background-color: $corDeFundo;
         max-height: 100px;
         padding-bottom: 5px;
         display: flex;
         position: fixed;
         top: 0;
         width: 100vw;
         justify-content: center;
         align-items: center;
         box-shadow: 0px 3px 10px rgb(0, 0, 0);
         z-index: 7;

     }

     .posheader {
         padding-top: 190px;
         text-align: center;

     }
     .icons{
        height: 250px;
        display: flex;
        flex-flow: column;
        position: fixed;
        justify-content: space-between;
        right: 8px;
        bottom: calc(50vh - (250px / 2));
        z-index: 40;
        
     img{
      
        max-width: 70px;
        max-height: 80px;
     }    
   }

     .produtosDeLimpeza {
         display: flex;
         margin-top: 50px;
         padding-bottom: 200px;
         flex-flow: row wrap;
         align-items: center;
         justify-content: center;
     }

     .produto {
         display: flex;
         justify-content: center;
         margin-block: 15px;
         margin-inline: 10px;
         border-radius: 18px;
         padding-block: 20px;
         min-width: 300px;
         min-height: 200px;
         width: 400px;
         height: 10vh;
         background-color: #0e0c0a;
         color: white;
         transition: 0.5s;

         figure {
             display: flex;
             position: relative;
             flex-direction: row;
             align-items: center;
         }

         figcaption {
             margin-left: 8px;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;

         }

         .product-img {
             min-height: 200px;
             min-width: 200px;
             max-height: 200px;
             max-width: 200px;

         }


     }

     .produto:hover {
         transform: scale(1.07);
     }
     .footer {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        background-color: $corDeFundo;
        box-shadow: 0px -1px 10px rgb(0, 0, 0);
        position: absolute;
        bottom: 0;

        .informacao{
            margin-left: 10px;
        }
       }


       @media(min-width: 1000px){
        .footer{
            font-size: 18px;
        }
       }
       @media(min-width: 1200px){
        .footer{
            font-size: 22px;
        }
       }
       @media(min-width: 1500px){
        .footer{
            font-size: 25px;
        }
       }


 }