* {
    //para todos os elementos
    $corDeFundo: rgb(255 255 1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    main{
        position: relative;
        overflow-x: hidden;
        min-height: 100vh;
    }
    header {
        background-color: $corDeFundo;
        max-height: 100px;
        padding-bottom: 5px;
        display: flex;
        position: fixed;
        top: 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 3px 10px rgb(0, 0, 0);
        z-index: 7;

    }

    .posheader {
        margin-top: 150px;
        text-align: center;

    }
    
    .icons{
        height: 250px;
        display: flex;
        flex-flow: column;
        position: fixed;
        justify-content: space-between;
        right: 8px;
        bottom: calc(50vh - (250px / 2));
        z-index: 40;
        
     img{
      
        max-width: 70px;
        max-height: 80px;
     }    
   }


    .produtos {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 350px;

    }
    .produto-container {
        margin-block: 5px;
        margin-left: 10px;
        margin-top: 40px;
        border-radius: 15px;
        min-width: 300px;
        width: 300px;
        height: 300px;
        color: rgb(255, 255, 255);
        transition: 0.1s ease-in-out;
        background-size: cover;
        box-shadow: 1px 1px 3px 2px inset black;
    }

    .produto-content {
        position: relative;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        transition: 100ms backdrop-filter linear;
    }

    .produto-content:hover {
        backdrop-filter: none;
    }

    .produto-content p {
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        font-size: 40px;
        text-shadow: 
        -2px -1px 0 black,  
         2px -1px 0 black,
        -2px  1px 0 black,
         2px  1px 0 black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 40% 0%;
    }

    .produto:hover {
        transform: scale(1.04);
    }

    a {
        text-decoration: none;
        color: white;
    }


    .produto:hover {
        background-color: $corDeFundo;
        color: #0e0c0a;
    }

    .footer {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        background-color: $corDeFundo;
        box-shadow: 0px -1px 10px rgb(0, 0, 0);
        position: absolute;
        bottom: 0;

        .informacao{
            margin-left: 10px;
        }
       }


       @media(min-width: 1000px){
        .footer{
            font-size: 18px;
        }
       }
       @media(min-width: 1200px){
        .footer{
            font-size: 22px;
        }
       }
       @media(min-width: 1500px){
        .footer{
            font-size: 25px;
        }
       }
    }
